
        <%= simple_form_for @student, remote: true, :html => { class: "form-group row"} do |f| %>
          <%= f.input :first_name, label_html: { class: 'col-sm-2 col-form-label' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'col-sm-10 student_first_name' } %>
          <%= f.input :middle_name, label_html: { class: 'col-sm-2 col-form-label' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'col-sm-10 student_middle_name' } %>
          <%= f.input :last_name, label_html: { class: 'col-sm-2 col-form-label' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'col-sm-10 student_last_name' }%>
          <%= f.input :nick_name , label_html: { class: 'col-sm-2 col-form-label' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'col-sm-10 student_nick_name' }%>
          <%= f.input :sex, as: :radio_buttons, collection: [['male', 'male'], ['female', 'female']], label_method: :second, value_method: :first, wrapper_html: { class: 'student_sex' } %>
      </div>
      <div class="modal-footer">
          <%= link_to 'cancel', students_path, class: "btn btn-warning" %>
          <%= f.button :submit, class: "btn btn-primary" %>
      </div>
        <% end %>
