<tr id="student_<%= student.id %>">
      <th scope="row"></th>
      <td>
        <%= student.first_name =%>
      </td>
      <td>
        <%= student.middle_name %>
      </td>
      <td>
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#updatestudent_<%= student.id %>">
        <%= student.last_name %>
      </td>
      <td>
        <%= student.sex%>
      </td>
      <td>
        <%= student.nick_name %>
      </td>
      <td>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updatestudent_<%= student.id %>">
          Edit
        </button>
        <%=  link_to 'Destroy', student, data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-danger" %>
      </td>
</tr>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg"  id="updatestudent_<%= student.id %>" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Update student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(student, remote: true, :html => { class: "form-group row"}) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.input :first_name, label_html: { class: 'col-sm-4 col-form-label' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'col-sm-10 student_first_name' } %>
          <%= f.input :middle_name, label_html: { class: 'col-sm-4 col-form-label' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'col-sm-10 student_middle_name' } %>
          <%= f.input :last_name, label_html: { class: 'col-sm-4 col-form-label' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'col-sm-10 student_last_name' }%>
          <%= f.input :nick_name , label_html: { class: 'col-sm-4 col-form-label' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'col-sm-10 student_nick_name' }%>
          <%= f.input :sex, as: :radio_buttons, collection: [['male', 'male'], ['female', 'female']], label_method: :second, value_method: :first, input_html: { class: 'form-control' }, label_html: { class: "col-form-label" }, wrapper_html: { class: 'col-sm-4 student_sex' } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.button :submit, class: "btn btn-primary"%>
      </div>
        <% end %>
    </div>
  </div>
</div>
