<!-- Button trigger modal -->
<br />
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editStudents">
 New Students 
</button>
<div class ="row" 
<h3>Students</h3> 
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">
        <%= sortable "first_name", "First"%>
      </th>
      <th scope="col">
        <%= sortable "middle_name", "Middle" %>
      </th>
      <th scope="col">
        <%= sortable "last_name", "Last"%>
      </th>
      <th scope="col">
        <%= sortable "sex", "Gender"%>
      </th>
      <th scope="col">
        <%= sortable "nick_name", "Nick"%>
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="students_tbody">
      <%= render @students %>
  </tbody>
 </table>
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="editStudents" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Add new student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @student, remote: true, :html => { class: "form-group row"} do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.input :first_name, label_html: { class: 'col-sm-4 col-form-label' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'col-sm-10 student_first_name' } %>
          <%= f.input :middle_name, label_html: { class: 'col-sm-4 col-form-label' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'col-sm-10 student_middle_name' } %>
          <%= f.input :last_name, label_html: { class: 'col-sm-4 col-form-label' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'col-sm-10 student_last_name' }%>
          <%= f.input :nick_name , label_html: { class: 'col-sm-4 col-form-label' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'col-sm-10 student_nick_name' }%>
          <%= f.input :sex, as: :radio_buttons, collection: [['male', 'male'], ['female', 'female']], label_method: :second, value_method: :first, input_html: { class: 'form-control' }, label_html: { class: "col-form-label" }, wrapper_html: { class: 'col-sm-4 student_sex' } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.button :submit, class: "btn btn-primary" %>
      </div>
        <% end %>
    </div>
  </div>
</div>
